body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1F2937;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.container p {
  margin: 5px;
}

.first-text {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.second-text {
  font-size: 20px;
  color: #4adf86;
  font-weight: bold;
}
.last-text {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.button-el {
  background-color: #4adf86;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px;
}
.borderline{
    border-bottom: 2px solid #232d3c;
    margin: 40px 0;
}
.field-one, .field-two{
width: 250px;
height: 40px;
font-size: 17px;
display: flex;
justify-content: center;
align-items: center;
background-color: #1f65c7;
color: #55F991;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password-container{
    display: flex;
    justify-content: space-between;
}

.reset-el{
    background-color: #4adf86;
    color: white;
    border: none;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}